{% extends 'base.html' %}
{% block main_class %}no-bg-container{% endblock %}  
{% block body_class %}contact-page-background{% endblock %}
{% block content %}

<h2 class="fade-in-title special-gothic-expanded-one-regular text-center mb-4 mt-4 custom-section-title">
  Adoption Requests
</h2>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for req in requests %}
    <div class="col">
      <div class="card h-100 shadow-sm">
        {% if req.pet.image %}
        <img src="{{ req.pet.image.url }}" class="card-img-top" alt="{{ req.pet.name }}">
        {% else %}
        <img src="https://via.placeholder.com/300x200?text=No+Image" class="card-img-top" alt="No Image">
        {% endif %}

        <div class="card-body">
          <h5 class="card-title">{{ req.pet.name }}</h5>
          <p class="card-text"><strong>Name of Applicant:</strong> {{ req.name }}</p>
          <p class="card-text"><strong> Email:</strong> {{ req.email }}</p>
          <p class="card-text"><strong>Date Submitted:</strong> {{ req.created_at|date:"Y-m-d H:i" }}</p>
<p class="card-text">
  <strong>Status:</strong>
  {% if req.status == 'accepted' %}
    <span class="badge bg-success"> Approved </span>
  {% else %}
    <span class="badge bg-warning text-dark">Pending </span>
  {% endif %}
</p>


          <form method="post" action="{% url 'pets:delete_adoption_request' req.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm mt-2"> Delete </button>
          </form>
          {% if req.status != 'accepted' %}
  <form method="post" action="{% url 'pets:accept_request' req.id %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-success btn-sm">Approve</button>
  </form>
{% endif %}



        </div>
      </div>
    </div>
   {% empty %}
<div class="d-flex justify-content-center align-items-center w-100" style="min-height: 300px;">
  <p class="fs-4 text-muted text-center mb-0">
    There are no adoption requests at the moment
  </p>
</div>
{% endfor %}



  </div>
</div>
{% endblock %}
