{% extends 'base.html' %}
{% block body_class %}contact-page-background{% endblock %}
{% block main_class %}no-bg-container{% endblock %}
{% block content %}

<h2 class="fade-in-title special-gothic-expanded-one-regular text-center mb-4 mt-4 custom-section-title">
  Search Results for "{{ request.GET.search }}"
</h2>
<form method="get" action="{% url 'pets:pet_search' %}" class="d-flex mb-4" role="search">
  <input
    class="form-control me-2"
    type="search"
    name="search"
    placeholder="Search pets..."
    value="{{ request.GET.search }}"
  />
  <button type="submit"  class="btn custom-btn search-btn">Search</button>
</form>

{% if results %}
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for pet in results %}
      <div class="col">
        <div class="card h-100">
          {% if pet.image %}
            <img src="{{ pet.image.url }}" class="card-img-top" alt="{{ pet.name }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ pet.name }}</h5>
            <p class="card-text">{{ pet.description|truncatewords:15 }}</p>
            <a href="{% url 'pets:pet_detail' pet.id %}"  class="btn custom-btn delete-btn"> View Details</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p class="card-text fs-5">No results found</p>
{% endif %}

{% endblock %}
