{% extends 'base.html' %}

{% block title %}Add New Article{% endblock %}

{% block body_class %}pets-form-background{% endblock %} 
{% block main_class %}no-bg-container{% endblock %}

{% block content %}
<div class="container transparent-box mt-5">
  <h2 class="fade-in-title special-gothic-expanded-one-regular text-center mb-4 mt-4 custom-section-title">
    Add New Article
  </h2>

  <form method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="mb-3">
      <label for="id_title" class="form-label fw-bold">Title</label>
      {{ form.title }}
    </div>

    <div class="mb-3">
      <label for="id_content" class="form-label fw-bold">Content</label>
      {{ form.content }}
    </div>

    <div class="mb-3">
      <label for="id_image" class="form-label fw-bold">Image</label>
      {{ form.image }}
      <img id="preview" alt="New Image Preview" style="width: 30%; height: 30%; object-fit: cover; border-radius: 10px; display:none;" />
    </div>

    <div class="mb-3">
      <label for="id_video" class="form-label fw-bold">Video</label>
      {{ form.video }}
    </div>

    <button type="submit" class="btn btn-dark-custom w-100">Add Article</button>
  </form>
</div>

<script>
  const input = document.getElementById('id_image');
  const preview = document.getElementById('preview');

  input.onchange = e => {
    if(e.target.files && e.target.files[0]) {
      preview.src = URL.createObjectURL(e.target.files[0]);
      preview.style.display = 'block';
    }
  }
</script>
{% endblock %}
