{% extends 'base.html' %}

{% block content %}
<h2> "{{ request.GET.search }}"</h2>

<form method="get" action="{% url 'entry_search' %}" class="d-flex mb-4" role="search">
    <input class="form-control me-2" type="search" name="search" placeholder="ابحث..." value="{{ request.GET.search }}">
    <button class="btn btn-primary" type="submit">بحث</button>
</form>

{% if results %}
    <ul>
        {% for item in results %}
            <li>{{ item.title }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>لا توجد نتائج.</p>
{% endif %}
{% endblock %}
