{% extends 'base.html' %}
{% load static %}

{% block title %}الرئيسية{% endblock %}
{% block body_class %}home-background{% endblock %}
{% block content %}

<video autoplay muted loop id="bg-video">
  <source src="{% static 'images/189813-887078786_small.mp4' %}" type="video/mp4">
  Your browser does not support the video tag.
</video>


  <div class="text-center mb-4">
    <h1 class="fade-in-title special-gothic-expanded-one-regular">PetCare</h1>
    <p class="sofadi-one-regular">Help a animal find a warm home</p>
  </div>
  <form method="get" action="{% url 'pets:pet_search' %}" class="mb-4 d-flex justify-content-center align-items-center gap-2">
  <input type="text" name="search" placeholder="Search.." class="form-control" style="max-width:400px;">
  <button type="submit" class="btn btn-dark-custom">Search</button>
</form>
<p class="intro-text">
Welcome to Our Pet Adoption Center!

Looking for a furry friend to welcome into your home? You're in the right place! We’re dedicated to helping animals find loving families where they can thrive and be happy. Browse through our list of adorable pets waiting for a second chance at life.

Adopting a pet means giving them a fresh start and a forever home. Whether you’re looking for a playful puppy, a cuddly cat, or any other animal, we’re here to support you every step of the way.

Join us in making a difference — adopt, don’t shop!</p>
<!---
  <div class="row">
    {% for pet in pets %}
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          {% if pet.image %}
            <img src="{{ pet.image.url }}" class="card-img-top" alt="{{ pet.name }}">
          {% else %}
            <img src="{% static 'images/default_pet.jpg' %}" class="card-img-top" alt="default pet">
          {% endif %}
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ pet.name }}</h5>
            <p class="card-text">{{ pet.description|truncatewords:10 }}</p>
            <a href="{% url 'pets:pet_detail' pet.id %}" class="btn btn-dark mt-auto">اعرف المزيد</a>

          </div>
        </div>
      </div>
    {% empty %}
      <p class="text-muted">There are no animals at the moment.</p>
    {% endfor %}
  </div>
-->
{% endblock %}
